.card-container {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    min-width: 350px;
    background-color: #ffffff;
    color: #000;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.card-selection-and-deletion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-for-list-selection {
    font-size: 11px;
}

.text-checkbox-container {
    display: flex;
    align-items: center;
}

.card-content {
    flex: 1 0 auto;
}

.card-header-create-complete {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.card-created-by {
    font-size: 10px;
}

.list-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer {
    flex-shrink: 0;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.card-checkbox {
    display: flex;
    align-items: center;
}

.list-completed-on-data {
    margin-left: -140px;
}

.list-form-button {
    max-width: 200px;
}

.list-form-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-bottom: 15px;
}

.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    height: 5px !important;
    font-size: 7px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}